.beer {
    border: 2px solid #830503;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    &:hover {
      background-color: #ca9333;
      box-shadow: 4px 4px 4px #4e4d4d;
    }
  
    &__size {
      width: 75px;
      height: 150px;
    }
    &__description {
      max-height: 150px;  
      overflow-y: scroll;
    }
}