
.App {
  background-image: linear-gradient(to right , rgb(168, 210, 228), pink);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

