
  
.filters-list {
    display: flex;
    justify-content: center;
    align-items: center;
  
    &__filter {
      margin: 0 20px;
      padding: 5px;
      background-color: rgb(220, 139, 139);
      border: 1px solid #a90808;
      border-radius: 10px;
  
      
    }
  }